a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.no-dots-li {
  list-style: none;
}

.text-center {
  text-align: center;
}

html {
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;

  /*スクロールバー非表示（Chrome・Safari）*/
  &::-webkit-scrollbar {
    display: none;
  }
}
