@import 'variables';

* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 100%;
  font-weight: 400;
}

a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.no-dots-li {
  list-style: none;
}

.text-center {
  text-align: center;
}
html {
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;

  /*スクロールバー非表示（Chrome・Safari）*/
  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  @include tab {
    min-height: 550px !important;
  }
  @include sp {
    min-height: 60vh !important;
  }

  min-height: 63vh !important;
  margin: 20px;
  //padding-top: $head_height;
}

.move_border {
  //下の線を動かす
}
